*{
  margin:0px;
  padding:0px;
}

.container{
  background-color:#3c415e;
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  gap:6vh;
  align-items: center;
  padding-top: 20vh;
}

.buttonContainer{
  display: flex;
  gap:5vw;
}

.buttonContainer button{
  width:7vw;
  height:5vh;
  cursor: pointer;
}

.colorContainer{
  display: flex;
  gap:7vw;
}